
@{
    ViewBag.Title = "Index";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
  }

<html>
<head>
   <title> Home Controller </title>
    

</head>
<h1> Sucessful Login</h1>
<h4>User:@Session["Name"].ToString()</h4>

</html>
